.lg-py-50{
  padding: 50px 0;
}

.lg-container-60{
  width: 60%;
  margin: 0 auto;
}

header, .footer-bottom{
  background-color: #2C3E50;
}

header, header ul li a{
  color: white;
}

header{
  height: 80px;
}

header h4{
  font-weight: bold;
}

header ul{
  list-style: none;
}

header ul li{
  display: inline-block;
  padding: 0px 5px;
}

header ul li a{
  text-decoration: none;
}

header .row{
  height: 80px;
}

header .fa-bars{
  font-size: 30px;
}

header .fa-bars:hover, header ul li a:hover{
  color: #1ABC9C;
  cursor: pointer;
}

.lg-jumbotron, .about, .btn{
  background-color: #1ABC9C;
}

.lg-jumbotron{
  margin-top: 80px;
  color: white;
}

.lg-inner-jumbo img{
  width: 200px;
}

.lg-inner-jumbo{
  max-width: 80%;
  margin: 0 auto;
}

.lg-inner-jumbo .lg-line{
  height: 2px;
  background-color: white;
}

.top-main{
  min-height: 200px;
  border-radius: 15px
}

.contact-me ul{
  list-style: none;
}
.contact-me ul li{
  border-bottom: 1px solid grey;
}

.btn{
  color: white;
  width: 50px;
}

.contact-me ul li:last-child{
  border-bottom: none;
}

.footer-top, .footer-bottom{
  color: white;
}

.footer-top{
  background-color: #3A546D;
}